<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>login</title>
</head>
<h1 class = "main-title"> Bienvenue! </h1>
<body>
    <div class="form-container">
        <h2 class="main-title">Login</h2>
        <form action="/login" method="post">
            <div class="mb-3">
                <label class="form-label" for="gmail">Gmail</label>
                <input class="form-control" type="email" id="gmail" name="gmail" placeholder="Enter your Gmail" required >
            </div>
            <div class="mb-3">
                <label class="form-label" for="password">mot de passe</label>
                <input class="form-control" type="password"  id="password" name="password" placeholder="Enter your password" >
            </div>
            <button type="submit" class="btn-primary">Login</button>
        </form>
        <p class="form-label">Pas de compte? <a href="/signup">créer un compte</a></p>
    </div>
</body>
</html>