<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css"">
    <title>SignUp</title>
</head>
<body>
    <div class="form-container">
        <h2>SignUp</h2>
        <form action="/signup" method="post">
            <div class="form-group">
                <label for="gmail">Gmail</label>
                <input type="email" id="gmail" name="gmail" placeholder="Enter your mail" required autocomplete="off">
            </div>
            <div class="form-group">
                <label for="password">password</label>
                <input type="password"  id="password" name="password" placeholder="Enter your password" >
            </div>
            <button type="submit" class="submit-btn">SignUp</button>
        </form>
    </div>
</body>
</html>